<div class="help-image">
</div>

<div class="root">
  <div class="row">
    <div id="rcorners"> 
      <p class="help">New to ReBook?</p>
      <button class="orange button1">Learn more</button>
    </div>
    <div id="rcorners"> 
      <p class="help">Return Your Book</p>
      <button class="orange button1">Return book</button>
    </div>
    <div id="rcorners"> 
      <p class="help">Cancel Your Subscription</p>
      <button class="orange button1">Cancel subscription</button>
    </div>
  </div>
</div>
