<div class="help-image">
</div>

<div class="root">
  <div class="row">
    <div id="rcorners"> 
      <p class="help">New to ReBook?</p>
      <button class="orange button1">Learn more</button>
    </div>
  </div>
</div>
