<div class="container">
	<section id="content">
		<form action="/sessions" method="post">
			<h3>Sign in with your ReBook account</h3>
                        <a href="/auth/google"><img border="0" alt="gmail" src="https://i.imgur.com/RWMS2zf.png" width="50%" height="auth" style="margin-bottom:5px"></a>
			<div>
				<input type="text" name="user[email]" placeholder="Email" required="" id="email" />
			</div>
			<div>
				<input type="password" name="user[password]" placeholder="Password" required="" id="password" />
			</div>
                        <div>
                                <input type="password" name="user[password_confirmation]" placeholder="Re-enter password" required="" id="password" />
                        </div>

			<div>
				<input type="submit" value="Sign In" />
				<a href="#">Lost your password?</a>
				<a href="/newaccount">Register</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
