<style>
* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

</style>
<div class="root">
  <div class="row">
    <div class="col-sm">
      <%= render "shared/side_nav" %>
    </div>
    <div class="col-8">
      <h4 class="account">Your membership</h4>
      <div class="row-membership">
        <div class="double-column" style="background-color:#fff;">
          <% if current_user.trial? %>
            <img src="https://i.imgur.com/nzkq2u4.png" alt="subscription_type" class="subscription_type">
            <p class="subscription-type"><b>You are on the <%= current_user.subscription_type %> subscription</b>.</p>
          <% elsif current_user.active? %>
            <img src="https://i.imgur.com/iZ2yZ8Q.png" alt="subscription_type" class="subscription_type">
            <p class="subscription-type"><b>Thanks for subscribing to ReBook!</b>.</p>
          <% else %>
            <img src="https://i.imgur.com/WU5214X.png" alt="subscription_type" class="subscription_type">
            <p class="subscription-type"><b>Come back today to get the most value out of ReBook.</b>.</p>
          <% end %>
          <p class="membership-date">You've been a member since: <%= @user.created_at %></p>
          <% if current_user.trial? %>
            <p class="membership-date">Your trial ends on: <%= @user.trial_expiration %></p>
          <% end %>
        </div>
        <div class="double-column" style="background-color:#fff;">
          <ul class="membership">
            <p class="subscription-type" style="text-align:left"><b>Your subscription gives you:</b></p>
            <% if current_user.trial? %>
              <li>A 30-day trial of ReBook services.</li>
              <li>Only one book can be checked out at a time. There is no limit to how many books can be checked out.</li>
              <li>Return books to ReBook at no additional cost with our shipping label.</li>
              <li>After your trial, ReBook is just $9.99/month.</li>
            <% elsif current_user.active? %>
              <li>Members have access to ReBook's large collection of books.</li>
              <li>Only one book can be checked out at a time. There is no limit to how many books can be checked out a month</li>
              <li>There is no "due date". ReBook members can check out a book as long as they want. No late fee applied.</li>
              <li>Return books to ReBook at no additional cost with our shipping label.</li>
            <% end %>
          </ul>
        </div>
      </div>
      <br>
      <hr>
    </div>
  </div>
</div>
