<div class="container">
	<section id="content">
		<form action="/users" method="post">
			<h3>Create a ReBook Account</h3>
			<div>
				<input type="text" name="user[name]" placeholder="Your name" required="" id="name" />
			</div>
			<div>
				<input type="text" name="user[email]" placeholder="Email" required="" id="email" />
			</div>
			<div>
				<input type="password" name="user[password]" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="password" name="user[password_confirmation]" placeholder="Re-enter password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Sign Up" />
				<a href="/signin">Already have an account? Sign In</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
