<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>

    <form action="/users" method="post">
    <input type="text" name="user[name]" placeholder="Name" />
    <input type="text" name="user[email]" placeholder="E-mail" />
    <input type="password" name="user[password]" placeholder="Password" />
    <input type="password" name="user[password_confirmation]" placeholder="Retype password" />

    <input type="submit" name="signup_submit" value="Sign up" />
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>

    <button class="social-signin google"><a href="/auth/google">Log in with Google+</a></button>
    <button class="social-signin twitter">Log in with Twitter</button>
  </div>
  <div class="or">OR</div>
</div>
