<h3 class="account">Your account</h3>
<p><a href="/account/settings" class="account">View account details</a></p>
<p><a href="/account/membership" class="account">View membership details</a></p>
<p><a href="/myaccount" class="account">Manage credit cards</a></p>
<p><a href="/myaccount" class="account">Checkout history</a></p>
