<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-family:sans-serif;font-size:20px;color:black">READ TO YOUR HEART'S CONTENT</h1>
    <% if current_user %>
      <a href="/signin" style="font-size:12px"><button>Browse ReBook</button></a>
      <p class="fine-print">Check out any book. Anytime. Anywhere.</p>
    <% else %>
      <a href="/signin" style="font-size:12px"><button>Try ReBook free</button></a>
      <p class="fine-print">$9.99 per month after 30 days. Cancel anytime.</p>
    <% end %>
  </div>
</div>

<div class="root-align">
  <h3 class="root">A book subscription service that will change the way you read.</h3>
  <p class="fine-print">Check a book today and get it delivered to you with our 2-day shipping.</p>
  <br>
</div>

