<div class="root">
  <a href="/"><img border="0" alt="W3Schools" src="https://i.imgur.com/VCpgqpm.png" width="50" height="auto">
</a>
  <p class="logo">ReBook | a <strong>mimizon</strong> company</p>
  <li class="dropdown" style="position:relative;left:195px;bottom:36px;">
    <a href="javascript:void(0)" class="dropbtn">Browse ReBook</a>
    <div class="dropdown-content">
      <% @categories.each do |category| %>
        <a href="/<%= category.slug %>"><%= category.name %></a>
      <% end %>
        <a href="#">More categories</a>
    </div>
  </li>
  <div class="box" style="position:relative;left:83%;bottom:55px">
    <div class="container-2">
      <form action="/search" method="get">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="text" name="search" id="search" placeholder="Search for a great book" />
      </form>
    </div>
  </div>
</div>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-family:sans-serif;font-size:20px;color:black">READ TO YOUR HEART'S CONTENT</h1>
    <a href="/signin" style="font-size:12px"><button>Try ReBook free</button></a>
     <p class="fine-print">$9.99 per month after 30 days. Cancel anytime.</p>
  </div>
</div>

<div class="root-align">
  <h3 class="root">A book subscription service that will change the way you read.</h3>
  <p class="fine-print">Check a book today and get it delivered to you with our 2-day shipping.</p>
  <br>
</div>

<div class="root-align">
  <div class="w3-container">
    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openCity(event, 'popularRead');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Popular Read</div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'firstRead');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Great First Read</div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'latestRead');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Latest Releases</div>
      </a>
    </div>

    <div id="popularRead" class="w3-container city" style="display:none">
      <p>Placeholder for books.</p>
    </div>

    <div id="firstRead" class="w3-container city" style="display:none">
      <p>Placeholder for books.</p>
    </div>

    <div id="latestRead" class="w3-container city" style="display:none">
      <p>Placeholder for books.</p>
    </div>
  </div>
</div>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}
</script>
