h1.book {
  font-family: Arial,sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #1a1c1d;
  margin-top: -6px;
  width:300px;
  word-wrap:break-word;
}

h1.cat-index {
  font-size: 174%;
  margin-bottom: 10px;
  color: #F15D22;
  font-weight: bold;
  font-family: sans-serif;
}

h2.book {
  font-size: 16px;
  line-height: 10px;
  margin-bottom: 25px;
  color: rgba(26,28,29,.65);
  font-family: Arial,sans-serif;
}

h3.description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #1a1c1d;
  font-family: Arial,sans-serif;
}

h3.search {
  font-size: 160%;
  font-weight: bold;
  font-family: sans-serif;
}

h3.account {
  font-weight: 700;
  color: #1a1c1d;
  font-size: 26px;
  line-height: 34px;
  font-family: Arial,sans-serif;
}

h4.account {
  font-weight: 700;
  color: #1a1c1d;
  font-size: 20px;
  line-height: 26px;
  font-family: Arial,sans-serif;
}

span.key {
  color: #F15D22;
}

p.description {
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 20px;
  width: 600px;
}

p.book {
  color: rgba(26,28,29,.65);
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 10px;
}

p.book-cat {
  cursor: pointer;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
  line-height: .25;
}

p.cat-index {
  font-family: sans-serif;
  color: #155799;
  text-decoration: underline;
}

p.help {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #333;
  font-family: Arial, sans-serif;
}

p.category {
  font-size: 14px;
  line-height: 20px;
  color: #007eb0;
  font-family: Arial,sans-serif;
}

p.membership {
  margin-top: 3%;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

p.setting {
  color: rgba(26,28,29,.65);
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

p.display-setting {
  color: #212325;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a.account {
  color: #1a1c1d;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

ul.membership {
  font-size: 13px;
  line-height: 19px;
  color: rgba(26,28,29,.65);
  font-family: Arial,sans-serif;
}

.arrow {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
