.book {
  margin-right: 13px;
}

.book-show {
  margin: 10px;
}

.search-tile {
  position:absolute;
  left: 215px;
}

.right {
  margin-left: 120px;
}

.right button {
  border: none;
  outline: 0;
  display: inline-block;
  color: black;
  background-color: #FF9933;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial,sans-serif;
}

#rcorners {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    height: 130px;
    text-align:center;
    margin-left: 3%;
}

.row {
  padding-left: 5px;
  padding-right: 170px;
  width: 1200px;
}

div.categories {
  margin-top: 8%;
}

div.subscription {
  margin-top: 75px;
}

.col-setting {
  max-width: 200px;
}

.col-setting-subscription {
  max-width: 175px;
}

.col-setting-address {
  max-width: 600px;
}

.col-setting-loans {
  max-width: 180px;
}
