ul.top-nav {
    list-style-type: none;
    margin-top: 1%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 0;
}

li.top-nav {
    float: right;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}

li.top-nav a {
    display: block;
    color: black;
    text-align: left;
    padding: 5px 8px;
    text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}
