.container-2{
  font: 11px/1.231 arial,helvetica,clean,sans-serif;
}

.container-2 input#search{
  background: #f4f4f4;
  border: none;
  font-size: 11px;
  float: left;
  padding-left: 42px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-2 .icon{
  position: absolute;
  top: -5px;
  margin-left: 2%;
  margin-top: 14px;
  z-index: 1;
  color: #4f5b66;
}
