<div class="root">
  <h1 class="cat-index">View All Categories</h1>
  <div class="categories">
    <% @categories.each do |category| %>
      <p class="cat-index"><%= link_to category.name, category_path(category) %></p>
    <% end %>
  </div>
</div>
