<!DOCTYPE html>
<html>
  <head>
    <title>Rebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="top-nav">
    <li class="top-nav"><a class="signin" href="/signin">Sign In</a></li>
    <li class="top-nav"><a class="help" href="/help">Help</a></li>
</ul>
    <%= yield %>
  </body>
</html>
